@* @model NurseCourse.Models.UserViewModel

<div class="pagetitle">
    <h1><i class="bi bi-person-fill-gear"></i> Editando a @Model.Name</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li class="breadcrumb-item active">Filtros</li>
        </ol>
    </nav>
</div>
<form asp-controller="User" asp-action="Edit">

    <div hidden class="mb-2 form-group">
        <label asp-for="UserId"></label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="mb-2 form-group">
        <label asp-for="Email">Correo Electronico</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-2 form-group">
        <label asp-for="Name">Nombre </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-2 form-group">
        <label asp-for="Nickname"> Apodo </label>
        <input asp-for="Nickname" class="form-control" />
        <span asp-validation-for="Nickname" class="text-danger"></span>
    </div>

    <div hidden class="mb-2 form-group">
        <label asp-for="UserName"> Nombre de Usuario </label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
   

    <div class=" mb-2 form-check">
        <label class="form-check-label" asp-for="Blocked"> Bloquear / Desbloquear</label>
        <input class="form-check-input" asp-for="Blocked" type="checkbox" />
    </div>

    <div hidden class="form-group">
        <label asp-for="Connection"></label>
        <input asp-for="Connection" class="form-control" />
        <span asp-validation-for="Connection" class="text-danger"></span>
    </div>

    <div hidden  class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" value="Contraseña123/" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="mb-2 btn btn-success">Guardar</button>
    <a asp-action="Index" class=" mb-2 btn btn-light">Cancelar</a>
</form>
 *@