﻿@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h1>EL VERDADERO INGENIO:</h1>
                <h2>Implica un rayo de pensamiento en la esencia de una pregunta, un destello que ilumina una situación... eso es el análisis de datos.</h2>
            </div>
        </div>
    </div>
</section><!-- End Hero -->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5 pt-4 pb-4">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/carousel/item1.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h3 class="font-weight-light mb-5">“El objetivo es convertir los datos en información y la información en conocimiento.”</h3>
            <p>Carly Fiorina</p>
        </div>
    </div>
</div>
<!-- Sección de Artículos -->
<div class="container" style="padding: 15px 10px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>Titulo del articulo 1</h2>
            <figure></figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat distinctio illo rerum atque ducimus, laboriosam debitis eum deserunt ab libero quis voluptas, illum, perferendis numquam aut aliquam itaque qui magnam!</p>
            <a href="#" class="btn btn-success">Leer mas</a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>Titulo del articulo 2</h2>
            <figure></figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat distinctio illo rerum atque ducimus, laboriosam debitis eum deserunt ab libero quis voluptas, illum, perferendis numquam aut aliquam itaque qui magnam!</p>
            <a href="#" class="btn btn-success">Leer mas</a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>Titulo del articulo 3</h2>
            <figure></figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat distinctio illo rerum atque ducimus, laboriosam debitis eum deserunt ab libero quis voluptas, illum, perferendis numquam aut aliquam itaque qui magnam!</p>
            <a href="#" class="btn btn-success">Leer mas</a>
        </div>

    </div>
</div><!-- Fin Sección de Artículos -->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5 pt-4 pb-4">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/carousel/item3.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h3 class="font-weight-light mb-5">“El objetivo es convertir los datos en información y la información en conocimiento.”</h3>
            <p>Carly Fiorina</p>
        </div>
    </div>
</div>
<!-- Sección de Multimedia -->
<div class="container" style="padding: 15px 10px;">
    <div class="row">

        <div class="col-md-4 mr-5">
            <div class="thumbnail">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AaoM5XhdnG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-md-4 ml-5 mr-5">
            <div class="thumbnail">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jO-tWhvwxoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <hr>
</div><!-- Sección de Multimedia -->